/* General Styles */
body {
  margin: 20px;
  padding: 0;
  background-color: #f0f0f0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Header Styles */
header {
  background-color: #007acc;
  color: white;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif; /* Arial is a web-safe font */
}

/* Main Content Styles */
main {
  margin: 20px 0;
}

h1 {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Section Styles */
section {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

h2 {
  /* font-family: Verdana, sans-serif; */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #333333;
}

/* Paragraph Styles */
p {
  /* font-family: Arial, sans-serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333333;
  margin-bottom: 15px;
}

.red {
  color: red;
}

p.highlight {
  background-color: #ffeb3b;
  /* font-family:
    "Times New Roman", serif; Times New Roman is a web-safe font */
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: #000000;
  padding: 10px;
  border-left: 5px solid #007acc;
}

/* Footer Styles */
footer {
  background-color: #333333;
  color: white;
  padding: 10px;
  text-align: center;
  font-family: Verdana, sans-serif; /* Verdana is a web-safe font */
}
